<table>
  <tbody>
    <tr>
      <h2>User activity notification</h2>
    </tr>
    <tr>
      <td>type: {{type}}</td>
    </tr>
    <tr>
      <td>firstname: {{firstname}}</td>
    </tr>
    <tr>
      <td>email: {{email}}</td>
    </tr>
    <tr>
      <td>username: {{username}}</td>
    </tr>
    {{#if data}}
    <tr>
      <td>{{data}}</td>
    </tr>
    {{/if}}
  </tbody>
</table>
