<table>
  <tbody>
    <tr>
      <h1>Hello {{firstname}}</h1>
    </tr>
    <tr>
      <span
        >Thanks for joining lets-play-golf. Your username is {{username}}.</span
      >
    </tr>
    <tr>
      <span
        >Challenge your friends now,
        <a href="{{baseUrl}}/login">open a game</a>!</span
      >
    </tr>
    <tr>
      <br />
    </tr>
    <tr>
      <h2>Get in touch!</h2>
    </tr>
    <tr>
      If you see something broken or have an inquiry, please take a minute to
      fill in the
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScoxoV4zShGz9vd06js-WKcl8mJPuHl0ItBbOcYe7hwv_eaQw/viewform"
      >
        contact form</a
      >.
    </tr>
    <tr>
      <br />
    </tr>
    <tr>
      Enjoy your time with us!
    </tr>
    <tr>
      <br />
    </tr>
    <tr>
      Lets-play-golf team
    </tr>
  </tbody>
</table>
