<table>
  <tbody>
    <tr>
      <h1>Hello {{firstname}},</h1>
    </tr>
    <tr>
      <span>You requested a magic link</span>
    </tr>
    <tr>
      <br />
    </tr>
    <tr>
      <span>This link will expire within {{linkLifeSpan}}.</span>
    </tr>
    <tr>
      <br />
    </tr>
    <tr>
      <a href="{{baseUrl}}/login/ml/{{hash}}">Log in securely now</a>
    </tr>
  </tbody>
</table>
