<table>
  <tbody style="margin: 10px">
    <tr>
      <h2>You received a message while offline</h2>
    </tr>
    <tr style="text-align: center">
      <td>
        <span>{{publicName}} wrote:</span>
      </td>
    </tr>
    <tr style="text-align: center">
      <td style="padding: 10px 0">
        <span
          style="
            display: inline-block;
            padding: 10px;
            border-radius: 20px;
            color: #00a57d;
            border: 1px solid#00a57d;
          "
        >
          {{message}}
        </span>
      </td>
    </tr>
    <tr style="text-align: center">
      <td>
        <span>{{received}}</span>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="padding-top: 20px">
        To see this conversation and respond, go to your game.
      </td>
    </tr>
    <tr style="padding-top: 10px">
      <td
        style="
          background-color: #00a57d;
          color: white;
          padding: 10px;
          border-radius: 5px;
        "
      >
        <a href="{{gameLink}}" target="_blank">Open my game</a>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="padding-top: 20px">
        You are receiving this email because you are opted in to chat messages
        notifications. Manage your preferences here.
      </td>
    </tr>
  </tbody>
</table>
