<table>
  <tbody style="margin: 10px">
    <tr>
      <h2>Resetting your password</h2>
    </tr>
    <tr>
      <td>
        <span>Hello {{firstname}}</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>We have received a password reset request for your account.</span>
      </td>
    </tr>
    <tr style="padding-top: 10px">
      <td>
        <a href="{{baseUrl}}/{{resetLink}}"
          >Click here to reset your password</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <span>Notice: this link will expire within 15 minutes.</span>
      </td>
    </tr>
    <tr>
      <td>
        <span
          >If you did not make this request, you can safely ignore this email
          and your account details will remain unchanged.</span
        >
      </td>
    </tr>
  </tbody>
</table>
