<table>
  <tbody>
    <tr>
      <h1>Hello {{firstname}}</h1>
    </tr>
    <tr>
      <td>
        You are receiving this email because your account information were
        updated.
      </td>
    </tr>
    <tr>
      <td>Updated information: {{updatedDetails}}</td>
    </tr>
    <tr>
      <td>
        If you did not request this change, please get in touch by filling out
        the<a
          href="https://docs.google.com/forms/d/e/1FAIpQLScoxoV4zShGz9vd06js-WKcl8mJPuHl0ItBbOcYe7hwv_eaQw/viewform"
        >
          contact form</a
        >.
      </td>
    </tr>
    <tr>
      <td>Otherwise you do not need to do anything else.</td>
    </tr>
  </tbody>
</table>
