<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{subject}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style type="text/css">
    /* vietnamese */
    @font-face {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/patrickhand/v19/LDI1apSQOAYtSuYWp8ZhfYe8UcLLubg58xGL.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/patrickhand/v19/LDI1apSQOAYtSuYWp8ZhfYe8UMLLubg58xGL.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Patrick Hand';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/patrickhand/v19/LDI1apSQOAYtSuYWp8ZhfYe8XsLLubg58w.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }


    h1 {
      font-family: "Patrick Hand", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    }
  </style>
</head>

<body style="color: white; background-color:#05103a;">
  <table>
    <tbody style="padding:2rem;">
      <tr>
        <td style="text-align:center">
          <h1>Let's Play Golf</h1>
          <p>4 cards, 2 friends, 1 winner!</p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>{{joinee}} accepted your invitation to play</h2>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>You can now <a href="{{baseUrl}}/play/{{gameId}}">join {{joinee}} and play your first round.</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Your game will be played in {{numberOfRounds}} rounds.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Score the least amount of points to win the game.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h2>A game is best played in one go</h2>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>When you start a game, it is better to play all rounds at once.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Finishing the game updates your rating and position on the leaderboard.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>You can have up to {{gamesCreditLimit}} games open at once. Your
              credit decreases when you open a game and increases when you finish one.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>